.prices-list{
    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3.2rem;
        &-e{
            border-radius: 3rem;
            border: .1rem solid $blue-light;
            background-color: $blue-lighter;
            display: flex;
            flex-direction: column;
            &-row{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 3.2rem;
                &:first-of-type{
                    border-bottom: .1rem solid $blue-light;
                }
            }
        }
    }

}