// typography
@import './typo';


@import './swiper';
@import './btns';
@import './drop-down';
@import './tag';
@import './marked-list';
@import './switch-list';
@import './specialist';




.col {
    &-bl {
        color: $blue;
    }

    &-wh {
        color: $white;
    }
    &-gr{
        color: $gray;
    }
}

.bg {
    &-wh {
        background-color: $white;
    }

    &-bl {
        background-color: $blue;
    }
}
.txtup{
    text-transform: uppercase;
}

.rubles::after {
    content: '₽';

}

.circle {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
   width: 5rem;
   height: 5rem;
   @include mobile{
    width: 8rem;
    height: 8rem
   }
    &._big{
       width: 7.4rem;
       height: 7.4rem;
    }

}

.section-heading {
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &._center{
        justify-content: center;
    }
}
.mobile-btn{
    @include mobile{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 4rem;
    }
   
}
[data-fancybox]{
    cursor: zoom-in;
}