<header class="header">
    <div class="header-wrp">
        <div class="container header__c">
            <div class="mobile">
                <button class="header__c-btn ">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="mobile">
                <div class="header__c-modal">
                    <div class="header__c-modal-self">
                        <a href="#" class="txt-up txt16 header__c-modal-self-item">Услуги</a>
                        <a href="#" class="txt-up txt16 header__c-modal-self-item">Наши проекты</a>
                        <a href="#" class="txt-up txt16 header__c-modal-self-item">О компании</a>
                        <a href="#" class="txt-up txt16 header__c-modal-self-item">Новости</a>
                        <a href="#" class="txt-up txt16 header__c-modal-self-item">Контакты</a>
                        <div class="header__c-modal-self-btns ">
                            <button class="txt-up txt16 header__c-modal-self-btns-e">ru</button>
                            <button class="txt-up txt16 header__c-modal-self-btns-e flex-row">
                                Заявка
                                <img src="../assets/images/icons/mail-black.svg" alt="mail">
                            </button>
                        </div>
                        <a href="#" class="txt16 header__c-modal-self-item">+7 499 136 26 49</a>
                    </div>
                   
                </div>
            </div>


        </div>
    </div>
</header>