<section class="prices-list">
    <div class="container">
        <ul class="prices-list__list">
            <li class="prices-list__list-e">
                <div class="prices-list__list-e-row">
                    <h3 class="txt28 _medium">Капельница от алкоголя Стандарт</h3>
                    <p class="txt28 col-bl rubles">999 999</p>
                </div>
                <div class="prices-list__list-e-row">
                    <a href="#" class="btn-arrow _black txt20 _medium">
                        подробнее
                    </a>
                    <button class="btn-second _blue txt16 _medium">
                        записаться на консультацию
                    </button>
                </div>
            </li>
            <li class="prices-list__list-e">
                <div class="prices-list__list-e-row">
                    <h3 class="txt28 _medium">Капельница от алкоголя Стандарт</h3>
                    <p class="txt28 col-bl rubles">999 999</p>
                </div>
                <div class="prices-list__list-e-row">
                    <a href="#" class="btn-arrow _black txt20 _medium">
                        подробнее
                    </a>
                    <button class="btn-second _blue txt16 _medium">
                        записаться на консультацию
                    </button>
                </div>
            </li>
            <li class="prices-list__list-e">
                <div class="prices-list__list-e-row">
                    <h3 class="txt28 _medium">Капельница от алкоголя Стандарт</h3>
                    <p class="txt28 col-bl rubles">999 999</p>
                </div>
                <div class="prices-list__list-e-row">
                    <a href="#" class="btn-arrow _black txt20 _medium">
                        подробнее
                    </a>
                    <button class="btn-second _blue txt16 _medium">
                        записаться на консультацию
                    </button>
                </div>
            </li>
        </ul>

    </div>
</section>